.sdc-library-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.component-navigation {
  flex: 1;
}
.component-display-form-wrapper {
  flex: 4;
}
.component-display {
  flex: 4;
}
.component-form {
  flex: 4;
}
