{# This twig template simply spits out the Welcome component. #}
<div class="sdc_library__welcome">
  {% block welcome_header %}
    <p><em>This header markup lives in welcome.twig.</em></p>
  {% endblock %}

  <h2>{{ title }}</h2>
  <p>{{ blurb }}</p>
  <p>{{ explanation }}

  <h3>String example</h3>
  <p>{{ welcome_string_example }}</p>

  <h3>Enumerated list example (using colors)</h3>
  <p>{{ welcome_enum_example }}</p>

  <h3>Integer example</h3>
  <p>{{ welcome_integer_example }}</p>

  <h3>Number example</h3>
  <p>{{ welcome_number_example }}</p>

  <h3>Array example</h3>
  {% for welcome_message in welcome_array_example %}
    <p>{{ welcome_message }}</p>
  {% endfor %}
  </div>

  {% block welcome_footer %}
    <p>This footer markup lives in welcome.twig.</p>
  {% endblock %}
</div>
