{{ attach_library('sdc_library/styles') }}

<div class="sdc-library-wrapper">
  <div class="component-navigation">
    {# We mimic a menu-building approach with a recursive macro. #}
    {# See a typical menu.html.twig file to note the similarity. #}
    {% import _self as components %}

    {# We find the nested structure in items.tree. #}
    {{ components.component_items(items.tree, 0) }}

    {% macro component_items(items, component_level) %}
      {% import _self as components %}
      {% if items %}
        {% for item in items %}
            {# The zero level is the grouping header. #}
            {% if component_level == 0 %}
              <h3>{{ item.title }}</h3>
              <ul class="components">
            {% else %}
              <li class="component-item">
                <a href="{{ item.href }}">{{ item.name }}</a>
            {% endif %}
            {% if item.below %}
              {{ components.component_items(item.below, component_level + 1) }}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endmacro %}

  </div>
  <div class="component-display-form-wrapper">
    <div class="component-display">
      <h2>{{ component_plugin }}</h2>
      <iframe width="100%" height="333" name="sdc-library-iframe" id="sdc-library-component-iframe" src="/sdc_library/component/{{ component_plugin }}/{{ chosen_theme }}"></iframe>
    </div>
    <div class="component-form">
      {{ component_form }}
    </div>
  </div>
</div>
